// title
#title{
  background:#ff4c68;
  .container-fluid{
    padding:3% 15% 7%;
    .phone-img{
      position: absolute;
      width:30%;
      transform:rotate(25deg);
      margin:10px 0 0 40px;
    }
    .btn-container{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    .row .title-btn{
      display:flex;
      margin:30px 20px 0 0;
      padding:1% 2%;
      font-size:2rem;
    }
    .btn fa-icon{
      display:block;
      margin-right: 5px;
    }
    .title-heading{
      font-weight: bold;
      font-size:6rem;
      line-height:1.5;
      color:white;
      text-transform: capitalize;
    }
    //nav
    nav{
      margin-bottom:30px;
      .navbar-brand{
        font-size:4.5rem;
        font-family: 'Ubuntu', sans-serif;
      }
      .nav-link{
        font-size:1.8rem;
        margin:0 22px;
      }
    }
  }
}




