#cta{
    background:#ff4c68;
    padding:7% 15% 12%;
    text-align: center;
    h2{
        font-weight:900;
        color:white;
        font-size:60px;
        margin-bottom:60px;
    }
    button{
        width:30%;
        padding:1% 2%;
        font-size:2rem;
        font-weight:300;
    }
    button:last-of-type{
        margin-left:20px;
    }
}
@media (max-width:28em){
    #cta{
        padding:7% 10% 12%;
        h2{
            font-size:4rem;
            margin-bottom:30px;
        }
        button{
            width:40%;
            padding:1% 2%;
            font-size:1.4rem;
            font-weight:300;
        }
    }
}
@media(max-width:40em){
    #cta button{
        width:40%;
        margin: 0 auto;
    }
    #cta button:last-of-type{
        margin:0 0 0 20px;
    }
}