/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}
html,body{
  scroll-behavior: smooth;
  font-size: 62.5%;
}
h2{
  font-weight: bold;
  font-size:5rem;
}
p{
  font-size:1.8rem;
  color:#84817a;
}
// // scrollbar
// ::-webkit-scrollbar {
//   width:10px;
//   transition:0.2s;
// }
// ::-webkit-scrollbar-track {
//   background: blue;
// }
// ::-webkit-scrollbar-thumb {
//   border-radius:0;
//   background-color:#fd9644;
//   transition:0.5s;
// }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
