<section id="features" class="row">

  <div class="feature col-lg-4">
    <fa-icon [icon]="faCheckCircle" style="font-size:4rem;"></fa-icon>
    <h3 class="features-heading">Easy to use.</h3>
    <p>So easy to use, even your dog could do it.</p>
  </div>

  <div class="feature col-lg-4">
    <fa-icon [icon]="faBullseye" style="font-size:4rem;"></fa-icon>
    <h3 class="features-heading">Elite Clientele</h3>
    <p>We have all the dogs, the greatest dogs.</p>
  </div>

  <div class="feature col-lg-4">
    <fa-icon [icon]="faHeart" style="font-size:4rem;"></fa-icon>
    <h3 class="features-heading">Guaranteed to work.</h3>
    <p>Find the love of your dog's life or your money back.</p>
  </div>

</section>
